@import url('https://fonts.cdnfonts.com/css/gilroy-bold?styles=20878,20879,20880');

$main-fonts: 'Gilroy', sans-serif;

.h1 {
    font-family: $main-fonts;
    font-weight: normal;
    font-size: 62px;
    line-height: 83px;
    color: $color-black;
}


.h4 {
    font-family: $main-fonts;
    font-weight: normal;
    font-size: 32px;
    line-height: 51px;
    color: $color-black;
}

.h2 {
    font-family: $main-fonts;
    font-weight: normal;
    font-size: 42px;
    line-height: 67px;
    color: $color-black;
}

.h3 {
    font-family: $main-fonts;
    font-weight: normal;
    font-size: 38px;
    line-height: 45px;
    color: $color-black;
}

.h5 {
    font-family: $main-fonts;
    font-weight: lighter;
    font-size: 18px;
    line-height: 29px;
}