.posts {
    padding: 130px 0 40px;

    @media screen and (max-width: 768px) {
        padding: 73px 0 40px;
    }

    &__wrap {
        display: flex;
        gap: 39px;


        @media screen and (max-width: 768px) {
            flex-direction: column;
        }
    }

    &__title {
        margin: 24px 0 48px;
        max-width: 640px;

        @media screen and (max-width: 768px) {
            margin: 16px 0 16px;
            font-size: 33px;
            line-height: 50px;
        }
    }

    &__arrow {
        display: flex;
        align-items: baseline;
    }

    &__arrow-img {
        width: 16px;
        height: 14px;
    }

    &__text {
        color: #7B7B7B;

        &:last-child {
            margin-left: 8px;
        }
    }

    &__img {
        margin-top: 64px;

        @media screen and (max-width: 768px) {
            margin-top: 40px;
        }
    }
}

.posts-wrapper {
    &__wrap {
        display: flex;

        @media screen and (max-width: 768px) {
            flex-direction: column;
        }
    }
}

.posts-social {
    width: 180px;
    padding-top: 116px;
    padding-bottom: 116px;

    @media screen and (max-width: 768px) {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 23px;
        align-items: center;
        position: sticky;
        top: 80px;

        @media screen and (max-width: 768px) {
            flex-direction: initial;
        }
    } 

    &__link {
        color: #7B7B7B;
        font-size: 20px;
    } 

    .fa:hover,
    .fas:hover,
    .fab:hover {
        color: #000;
    }
}

.posts-content {
    max-width: 736px;
    &__wrap {
        display: flex;

        @media screen and (max-width: 768px) {
            margin: 45px 0 30px;
        }
    }

    &__img {
        width: 70px;
        height: 70px;
    }

    &__text {
        margin-left: 8px;
        display: flex;
        align-items: center;
    }

    &__word {
        margin-top: 39px;

        @media screen and (max-width: 768px) {
            margin-top: 25px;
        }
    }

    &__wrapper {
        border-left: 2px solid #7B7B7B;
        padding-left: 64px;
        margin-top: 32px;

        @media screen and (max-width: 768px) {
            padding-left: 16px;
        }
    }

    &__list {
        margin-bottom: 60px;
        @media screen and (max-width: 768px) {
            padding-left: 16px;
        }
    }

    &__version:last-child {
        margin-top: 40px;
        color: #7B7B7B;
    }

    &__item {
        list-style: outside disc;
        margin-top: 32px;
    } 

    &__point {
        margin-left: 12px;
    }
}

.posts-form {

}

.posts-comments {
    padding: 96px 0 128px;
    max-width: 736px;

    @media screen and (max-width: 768px) {
        padding: 96px 0 64px;
    }

    &__content {
        display: flex;
        margin-top: 24px;
        gap: 24px;
    }

    &__img {
        width: 70px;
        height: 70px;
    }

    &__wrapper {

    }

    &__wrapp {
        display: flex;
        align-items: baseline;
        gap: 24px;

        @media screen and (max-width: 768px) {
            flex-direction: column;
            gap: 16px;
        }
    }

    &__data {
        color: #7B7B7B;
    }

    &__text {
        color: #565656;
    }

    &__arrow {
        display: flex;
        margin-top: 16px;
        align-items: center;
        gap: 10px;
    }

    &__arrow-img {
        width: 16px;
        height: 14px;
    }

    &__content--kate-moss {
        padding: 0 0 39px 96px;
        border-bottom: 1px solid #F4F4F4;
        gap: 5px;
    }

    &__content--last {
        margin-top: 39px;

        @media screen and (max-width: 768px) {
            margin-top: 24px;
        }
    }
}