.works {

    padding: 136px 0;
    @media screen and (max-width: 768px) {
        padding: 73px 0 0;
    }

    &__wrap {
        display: flex;
        justify-content: space-between;
        @media screen and (max-width: 768px) {
            flex-direction: column;
        }
    }

    

    &__wrapper{
        padding: 128px 0 0;
        @media screen and (max-width: 768px) {
            padding: 48px 0 0;
        }
    }

    &__item {
        display: flex;
        justify-content: space-between;
        margin-bottom: 48px;
        @media screen and (max-width: 768px) {
            flex-direction: column;
            margin-bottom: 0px;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }

    &__text {
        max-width: 541px;
        @media screen and (max-width: 768px) {
            max-width: 300px;
            margin-top: 48px;
        }
        text-align: justify;
    }

    &__word {
        margin-bottom: 50px;
        position: relative;
        @media screen and (max-width: 768px) {
            margin-top: 24px;
        }
        &::after {
            position: absolute;
            content: '';
            display: block;
            background: #CCCCCC;
            width: 85px;
            height: 1px;
            bottom: -16px;
            left: 0;
        }
    }

    &__iten-img {
        max-width: 544px;
    }

    &__button {
        margin-top: 39px;
        @media screen and (max-width: 768px) {
            margin-bottom: 64px;
        }
    }

    
}


#works__heading-id {
    color: #565656;  
    margin-top: 16px;   
}

.item-order-1 {

}

@media screen and (max-width: 768px) {
    .item-order-2 {
        order: -1;
    }
}
