.btn {
    width: 180px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-bottom: 2px solid $color-black;
    cursor: pointer;

    @media screen and (max-width: 768px) {
        width: 140px;
        height: 35px;
    }

    & a {
        color: $color-black;
        font-family: $main-fonts;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 1.6px;

        @media screen and (max-width: 768px) {
            font-size: 14px;
        }
    }
    
    &:hover a {
        font-size: 18px;
        transition: all 1s;
    }
}

.button  {
    width: 160px;
    height: 45px;
    background: #565656;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid #565656;
    cursor: pointer;

    color: #fff;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 166%;
    letter-spacing: 0.1em;

    & a {
        color: #fff;
        font-family: 'Lato';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 166%;
        letter-spacing: 0.1em;
    }
    
   &:hover {
        border: 1px solid #000;
        color: #565656;
        background: #fff;
    }
    
    &:hover a {
        color: #565656;
    }
    
    &:hover:after {
        color: #565656;
    }
}