// & == .header
.header {
    padding-top: 30px;

    &__container {
        display: flex;
        align-items: center;
    }

    &__logo {
        max-width: 220px;
    }

    &__logo-ttu {
        font-family: $main-fonts;
        font-size: 35px;
        letter-spacing: 24px;

        @media screen and (max-width: 768px) {
            font-size: 26px;
            letter-spacing: 12px;
        }
    }

    &__logo-arch {
        font-family: $main-fonts;
        font-size: 11px;
        letter-spacing: 16px;

        @media screen and (max-width: 768px) {
            font-size: 7px;
            letter-spacing: 11px;
        }
    }

    &__nav {
        margin-left: 45px;

        @media screen and (max-width: 768px) {
            margin-left: auto;
        }
    }

    &__nav-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 29px;
        background: $color-white;

        @media (max-width: $tablet) {
            display: none;

        }
    }

    &__nav-label {
        display: none;

        @media (max-width: $tablet) {
            display: block;
            width: 32px;
            height: 32px;
            background: #f6f6f6;
            position: relative;
            z-index: 100;
        }
    }

    &__nav-link {
        font-family: $main-fonts;
        font-weight: 400;
        font-size: 16px;
        line-height: 30px;
        letter-spacing: 0.0em;
        color: $color-black;
        font-weight: lighter;
        cursor: pointer;
    }

    &__nav-item {
        &:hover a {
            color: $color-item-hover;
        }

        &--active a {
            color: $color-item-hover;
        }
    }

    &__nav-input {
        display: none;

        &:checked~.header__nav-row {
            display: flex;
            flex-direction: column;
            justify-content: center;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            z-index: 99;
        }
    }

    &__language {
        display: flex;
        margin-left: auto;
        gap: 42px;

        @media screen and (max-width: 768px) {
            display: none;
        }
    }

    &__language-wrap {
        display: flex;

        &:first-child {
            border-right: black;
        }
    }

    &__language-title {
        font-weight: lighter;
    }

    &__language-text {
        cursor: pointer;
        font-weight: lighter;


        &:hover {
            color: $color-item-hover;
        }

        &--active {
            color: $color-item-hover;
        }
    }

    &__language-text-left {
        border-right: 1px solid $color-item-hover;
        padding-right: 15px;
    }

    &__language-text-right {
        padding-left: 15px;
    }

}